.VehicleList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: $tablet-landscape) {
  .VehicleList {
    text-align: center;
  }
}
